.contents
  %p
    = @name 
    さんの投稿一覧
  - @posts.each do |post|
    .content
      .img-box  
        = link_to post_path(post) do
          = image_tag post.image.url, size:'600x415'
      .text-box
        .text
          = simple_format(post.text)
        .user-info
          .user-name
            投稿者:
            = post.user.name
          .post-time
            投稿:
            = post.created_at.strftime("%Y年%m月%d日 %H時%M分")
          .trash-icon
            = link_to "/posts/#{post.id}", method: :delete do
              = icon("fas", "trash", class: 'icon')

