.content
  .img-box  
    = link_to post_path(post) do
      = image_tag post.image.url, size:'600x415'
  .text-box
    .text
      = simple_format(post.text)
      .tags
        - if post.tags.any?
          タグ:
          - post.tags.each do |tag|
            = link_to '#'+tag.tagname, posts_path(tag_id:tag.id)
        
    .user-info
      .user-name
        投稿者:
        = link_to post.user.name, "/users/#{post.user.id}" 
      .post-time
        投稿:
        = post.created_at.strftime("%Y年%m月%d日 %H時%M分")
       
    
