.contents
  %h1
    記事投稿
  .post-form
    = form_for @post do |f|
      = f.text_area :text, class: 'text-box', placeholder: 'メッセージと写真は必須です'
      .form__mask
        = f.file_field :image, class: "image"
      = f.text_field :tagname,class: 'tag-box', placeholder: 'タグは / で区切ってください ex）かわいい/愛犬', value: @tag_list
      = f.submit '投稿する', class: 'post-submit'
      
