.contents
  = render @post
  = render "likes/like" 
        
  

  .comment-box
    - if current_user
      = form_with(model: [@post, @comment], local: true) do |f|
        = f.text_area :text, placeholder: 'コメントする' 
        = f.submit 'コメント', class: 'btn'
    - else
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      
    .comments  
      %h5<>
        コメント一覧
      - if @comments
        - @comments.each do |comment|
          .comment
            .comment__name
              = link_to comment.user.name+":",  "/users/#{comment.user.id}"
            .comment__text
              = comment.text
    