!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title わん-chance
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/notifications'
    .header
      .header__logo
        = link_to 'わん-chance', root_path
      .header__logo-about
        わんこで繋がる交流サイト
      .header__user-nav
        - if user_signed_in?
          %p.name
            = link_to current_user.name+'のページ',  "/users/#{current_user.id}" 
          %ul
            %li
              = link_to 'DM一覧', rooms_path
            %li
              = link_to '新規投稿', new_post_path
            %li
              = link_to 'ログアウト', destroy_user_session_path, method: :delete
            - if current_user.try(:admin?)
              %li
                = link_to '管理者画面', rails_admin_path
        - else
          %ul
            %li
              = link_to 'ログイン', new_user_session_path
            %li
              = link_to '新規登録', new_user_registration_path
    = yield
