!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Wan-Chance
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .header__logo
        WanーChance
      .header__user-nav
        %p.name
          JUN
        %ul
          %li.login<>
            ログイン
          %li.logout<>
            ログアウト
          %li.post<>
            投稿する








    = yield
